<ion-content fullscreen class="bg-1">

  <ion-grid class="top-bg01 pt60 pb50">

    <img src="{{avatar}}" alt="avatar" class="home-avatar">

    <div class="ion-margin home-border">

      <ion-row>
        <ion-col size="12" class="home-separator mt50">
          <p class="ion-text-center ff1 fwr fz24 tc1">{{name}}</p>
        </ion-col>

        <ion-col size="4" class="ion-text-center">
          <span class="ion-margin-horizontal ff2 fwl fz11 tc1">SEGUIDORES</span>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <span class="ion-margin-horizontal ff2 fwl fz11 tc1">SEGUIDOS</span>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <span class="ion-margin-horizontal ff2 fwl fz11 tc1">POST</span>
        </ion-col>
        <ion-col size="4" class="ion-text-center ion-padding-bottom">
          <span class="ion-margin-horizontal  ff1 fwl fz18 tc1">{{text2}}</span>
        </ion-col>
        <ion-col size="4" class="ion-text-center ion-padding-bottom">
          <span class="ion-margin-horizontal ff1 fwl fz18 tc1">{{text3}}</span>
        </ion-col>
        <ion-col size="4" class="ion-text-center ion-padding-bottom">
          <span class="ion-margin-horizontal ff1 fwl fz18 tc1">{{text4}}</span>
        </ion-col>
      </ion-row>

    </div>

    <ion-row>

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2" (click)="showModal()">
        <img src="assets/icon/clock.svg" alt="clock" class="clock-icon">
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz28 tc1">100</ion-col>
          <ion-col size="12" class="ion-text-center ff1 fwr fz11 tc1">SEGUIDORES</ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <img src="assets/icon/manual-mode.png" alt="contacts" class="process-icon">
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff2 fwr fz11 tc1">65/100</ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2" (click)="showModal()">
        <img src="assets/icon/clock.svg" alt="clock" class="clock-icon">
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz28 tc1">100</ion-col>
          <ion-col size="12" class="ion-text-center ff1 fwr fz11 tc1">SEGUIDORES</ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <img src="assets/icon/manual-mode.png" alt="contacts" class="process-icon">
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff2 fwr fz11 tc1">65/100</ion-col>
        </ion-row>
      </ion-col>


    </ion-row>

  </ion-grid>

</ion-content>

<div class="pb100 bg-dark-2 br-c1 br-v-25 modal slideUp" *ngIf="modalDiv">

  <ion-row class="ion-margin-top ion-margin-horizontal">
    <ion-col size="12" class="ion-text-center tc3 fz14 ff2">
      Estamos atrayendo seguidores a tu cuenta.
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-horizontal">
    <ion-col size="4" class="ion-text-center tc1 fz18 ff1">
      65/100
    </ion-col>
    <ion-col size="4" class="ion-text-center tc1 fz18 ff1">
      00:23'
    </ion-col>
    <ion-col size="4" class="ion-text-center tc1 fz18 ff1">
      <ion-icon name="pause"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-horizontal">
    <ion-col size="4" class="ion-text-center tc3 fz14 ff2">
      Seguidores conseguidos
    </ion-col>
    <ion-col size="4" class="ion-text-center tc3 fz14 ff2">
      Tiempo restante
    </ion-col>
    <ion-col size="4" class="ion-text-center tc3 fz14 ff2">
      Pausar seguidores
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-horizontal" (click)="closeModal()">
    <ion-col size="4" class="ion-float-right ion-text-center gradient-1 br15">
      <span class="ion-padding ff2 fz16 tc1">Cerrar</span>
    </ion-col>
  </ion-row>

</div>