<ion-content fullscreen class="bg-4">

  <ion-grid class="pt80 pb50">

    <div class="ion-margin home-border mt50">

      <ion-row class="ion-padding-vertical">

        <ion-col size="12" class="ion-text-center">
          <span class="ff1 fwl fz14 tc1">Magnetismo Canjeado</span>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <p class="ff2 fwl fz14 tc1">Hemos añadido <span class="tc4">{{followers}}</span> de magnetismo a tu contador.</p>
        </ion-col>


        <button type="submit" class="ion-margin-top bg-blue2 button-2 tc1" (click)="closeModal()">
          OK
        </button>

      </ion-row>

    </div>

  </ion-grid>

</ion-content>