
<ion-footer>

  <img src="../../../assets/imgs/footer-bg.svg" alt="top" class="top-img">
  
  <ion-toolbar>

    <ion-buttons slot="start" class="ml-10">
      <img src="assets/icon/{{likeIcon}}" alt="likes" class="nav-icon-footer"
                                        [routerLink]="['/likes/likes-manual']" routerLinkActive="active"
                                        (click)="likeIconToggle()">
    </ion-buttons>
    <ion-buttons slot="start" class="ml-10">
      <img src="assets/icon/{{followersIcon}}" alt="friends" class="nav-icon-footer"
                                          [routerLink]="['/followers/followers-manual']" routerLinkActive="active"
                                          (click)="followersIconToggle()">
    </ion-buttons>

    <div class="div-icon bg-dark-2">
        <video class="footer-icon" #magnetismAnimation poster="../../../assets/imgs/gif1.png"
        (click)="playMagnetismAnimation()">
        <source src="../../../assets/videos/gif2.webm" type="video/webm">
      </video>
      <img src="../../../assets/icon/iman-1.png" alt="top" class="footer-icon"
                                                [routerLink]="['/magnetism/magnetism']" routerLinkActive="active"
                                                (click)="magnetismIconToggle()">
    </div>

    <ion-buttons slot="end" class="mr-10">
      <img src="assets/icon/{{videosIcon}}" alt="videos" class="nav-icon-footer"
                                            [routerLink]="['/videos/videos-manual']" routerLinkActive="active"
                                            (click)="videosIconToggle()">
    </ion-buttons>
      
    <ion-buttons slot="end" class="mr-10">
      <img src="assets/icon/{{commentsIcon}}" alt="followers" class="nav-icon-footer"
                                            [routerLink]="['/comments/comments-manual']" routerLinkActive="active"
                                            (click)="commentsIconToggle()">
    </ion-buttons>
      
  </ion-toolbar>
  
</ion-footer>