
.top-img{
    width: 100%;
    margin-bottom: -20px;
}

.ion-footer{
    --background: transparent;
    --ion-color-base: transparent !important;
    margin: 0px;
    padding: 0px;
}

.ion-toolbar{
    margin: 0px;
    padding: 0px;
}

.app-footer{
    --background: transparent;
    --ion-color-base: transparent !important;
}

.div-icon{
    width: 60px;
    height: 60px;
    margin-left: calc((100% - 60px) / 2);
    border-radius: 50px 50px 50px 50px;
}

.footer-icon{
    width: 50px;
    height: 50px;
    margin-left: calc((100% - 50px) / 2);
    margin-top: 4px;
}

.ml-10{
    margin-left: 18px;
}

.mr-10{
    margin-right: 18px;
}