<ion-content fullscreen class="bg-1">

  <ion-grid class="pt50 pb50">

    <button type="submit" class="ion-margin-vertical bg-green1 button-2 ff2 fz12 tc1" (click)="onSubmit()">
      VER COMENTARIOS ENVIADOS
    </button>

    <form [formGroup]="form01" class="ion-margin-top" (ngSubmit)="onSubmit()">

      <ion-row class="ion-margin-horizontal ion-margin-bottom">
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-checkbox color="dark" class="mt5">
          </ion-checkbox>
        </ion-col>
        <ion-col size="6" class="ff2 fwl fz12 tc1 mt5">
          Comentario 01
        </ion-col>
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-icon name="create"></ion-icon>
        </ion-col>
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-icon name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-horizontal ion-margin-bottom">
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-checkbox color="dark" class="mt5">
          </ion-checkbox>
        </ion-col>
        <ion-col size="6" class="ff2 fwl fz12 tc1 mt5">
          Comentario 01
        </ion-col>
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-icon name="create"></ion-icon>
        </ion-col>
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-icon name="trash"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-horizontal ion-margin-bottom">
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-checkbox color="dark" class="mt5">
          </ion-checkbox>
        </ion-col>
        <ion-col size="6" class="ff2 fwl fz12 tc1 mt5">
          Comentario 01
        </ion-col>
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-icon name="create"></ion-icon>
        </ion-col>
        <ion-col size="2" class="ion-text-center fz24 tc1">
          <ion-icon name="trash"></ion-icon>
        </ion-col>
      </ion-row>

      <button type="submit" class="ion-margin-vertical gradient-1 button-2 ff2 fz12 tc1" (click)="onSubmit()">
        GUARDAR Y ENVIAR
      </button>

    </form>

  </ion-grid>

</ion-content>