<ion-content class="bg-1">

  <ion-grid class="top-bg01 pt40 pb50">

    <ion-row>
      <ion-col size="12">
        <img src="{{avatar}}" alt="avatar" class="ion-margin-top avatar mt20">
        <p class="ion-text-center ff1 fwr fz24 tc1">{{name}}</p>
        <p class="ion-text-center ff1 fwr fz24 tc1">ID Usuario: {{userId}}</p>
        <p class="ion-text-center ff3 fwl fz18 tc1">{{text1}}</p>
        <hr class="ion-margin-horizontal separator-01 gradient-1">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="ion-text-center ff3 fwl fz18 tc1">{{text2}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin ion-padding home-border bg-black">
      <ion-col size="12" class="ion-margin-top ion-text-center tc1 fz14 ff1">
        IMPORTANTE
      </ion-col>
      <ion-col size="12" class="ion-margin-bottom  ion-margin-top ion-text-center tc1 fz12 ff1">
        Si dejas de seguir a los perfiles seguidos en la app tu acceso puede ser denegado.
      </ion-col>
    </ion-row>

    <form [formGroup]="form01" (ngSubmit)="onSubmit()">

      <ion-row class="ion-margin">
        <ion-col size="10" class="ff3 fwr fz11 tc1 mt5 ion-text-left" (click)="conditionsToggle()">
          ACEPTO LAS CONDICIONES
        </ion-col>
        <ion-col size="2">
          <ion-checkbox color="dark" formControlName="conditions" class="mt5">
          </ion-checkbox>
        </ion-col>
      </ion-row>

    </form>

    <button type="submit" class="ion-margin-top gradient-1 button-2 tc1" (click)="onSubmit()">
      FINALIZAR
    </button>

  </ion-grid>

</ion-content>