<ion-toolbar class="bg-dark-1">

  <ion-buttons slot="start">
    <img src="assets/icon/w-burger-button.png" alt="menu" class="nav-icon" (click)="openFirst()">
  </ion-buttons>
  <ion-buttons slot="start" [routerLink]="['/process/process']" routerLinkActive="active">
    <img src="assets/icon/{{processIcon}}" alt="search" class="nav-icon">
  </ion-buttons>
  <ion-buttons slot="start">
      <img src="assets/icon/{{automaticIcon}}" alt="avatar" class="nav-icon-footer"
                                            (click)="goProcess()">
    </ion-buttons>
  <ion-buttons slot="end" class="ff1 fz15 tc1">
    {{quantity}}
  </ion-buttons>
  <ion-buttons slot="end" [routerLink]="['/magnetism/magnetism']" routerLinkActive="active">
    <img src="assets/icon/{{headerIcon}}" alt="followers" class="nav-icon">
  </ion-buttons>

</ion-toolbar>
