<ion-content fullscreen class="bg-1">

  <ion-grid class="top-bg01 pt60 pb50">

    <div class="ion-margin home-border">

      <ion-row>
        <ion-col size="12" class="home-separator mt20">
          <p class="ion-text-center ff1 fwr fz24 tc1">ID Usuario: {{userId}}</p>
        </ion-col>

        <ion-col size="12">
          <ion-row>
            <ion-col size="3" class="ion-text-center mt5">
              <span class="ff1 fwl fz14 tc1">10</span>
            </ion-col>
            <ion-col size="3" class="ion-text-center mt5">
              <span class="ff1 fwl fz14 tc1">12</span>
            </ion-col>
            <ion-col size="3" class="ion-text-center mt5">
              <span class="ff1 fwl fz14 tc1">25</span>
            </ion-col>
            <ion-col size="3" class="ion-text-center mt5">
              <span class="ff1 fwl fz14 tc1">30</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" class="ion-text-center">
              <span class="ff2 fwl fz9 tc1">Likes</span>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <span class="ff2 fwl fz9 tc1">Seguidores</span>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <span class="ff2 fwl fz9 tc1">Comentarios</span>
            </ion-col>
            <ion-col size="3" class="ion-text-center">
              <span class="ff2 fwl fz9 tc1">Videos</span>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="11">
          <ion-row>
            <ion-col size="6" class="ion-text-center mt5">
              <span class="ff1 fwl fz14 tc1">2X</span>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <span class="ff2 fwl fz12 tc1">Velocidad</span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center mt5">
            <button type="submit" class="gradient-1 button-3 tc1" [routerLink]="['/magnetism/become_premium']" routerLinkActive="active">
              Premium
            </button>
          </ion-row>
        </ion-col>

        <ion-col size="12" class="home-separator">
        </ion-col>

        <ion-col size="12" class="mt50">
          <video class="iman-2" #magnetismAnimation poster="../../../assets/imgs/gif1.png"
            (click)="playMagnetismAnimation()">
            <source src="../../../assets/videos/gif1.webm" type="video/webm">
          </video>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="10" type="submit" class="ion-margin ion-padding ion-text-center br15 gradient-1 fz12 tc1"
          (click)="presentExchangeMagnetismModal()">
          CANJEAR {{followers}} MAGNETISMO EN LIKES
        </ion-col>

        <ion-col size="10" type="submit" class="ion-margin-bottom ion-margin-horizontal ion-padding ion-text-center br15 bg-black fz12 tc1"
          [routerLink]="['/magnetism/transfer_magnetism']" routerLinkActive="active">
          TRANSFIERE MAGNETISMO
        </ion-col>
      </ion-row>

    </div>

  </ion-grid>

</ion-content>