<ion-content fullscreen class="bg-1">

  <ion-grid class="pt50 pb50">


    <div class="ion-margin">

      <ion-row>

        <ion-col size="6" class="ion-text-center">
          <span class="ff2 fwl fz11 tc1">CRÉDITO COMENTARIOS</span>
        </ion-col>
        <ion-col size="6" class="ion-text-center" [routerLink]="['/magnetism/magnetism']" routerLinkActive="active">
          <span class="ff2 fwl fz11 tc1">CRÉDITO MAGNETISMO</span>
        </ion-col>

        <ion-col size="6" class="ion-text-center ion-padding-bottom">
          <span class="ff1 fwl fz18 tc4">{{text2}}</span>
        </ion-col>
        <ion-col size="6" class="ion-text-center ion-padding-bottom">
          <span class="ff1 fwl fz18 tc1">{{text3}}</span>
        </ion-col>

      </ion-row>

    </div>

    <ion-row class="ion-margin-horizontal">
      <ion-col size="8">
        <span class="ion-text-center ff1 fwr fz12 tc1">
          ¿Cuántos comentarios quieres enviar?
        </span>
      </ion-col>
      <ion-col size="4" class="ion-margin-bottom form-w tc4 border-yellow">
        <ion-input type="number" class="fz16"></ion-input>
      </ion-col>
    </ion-row>

    <form [formGroup]="form01" class="ion-margin-top" (ngSubmit)="onSubmit()">

      <ion-row class="ion-margin-horizontal ion-margin-bottom">
        <ion-col size="8" class="form-b border-yellow tc1">
          <ion-input type="text" placeholder="Escribir comentario" class="fz12" formControlName="comment">
          </ion-input>
        </ion-col>
        <ion-col size="2">
          <img src="assets/icon/add-button.png" alt="add-button">
        </ion-col>
        <ion-col size="2" class="ion-text-center ff1 fwl fz12 tc1 mt20">
          2/12
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin">
        <ion-col size="6">
          <button type="submit" class="ion-margin-top ion-margin-left w120 button-4 bg-blue1 ff2 fz12 fwl tc1"
            [routerLink]="['/comments/comments-template']" routerLinkActive="active">
            VER PLANTILLAS
          </button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-horizontal">
        <ion-col size="12">
          <p class="ion-margin-horizontal ion-text-center ff2 fwl fz12 tc1">
            Pega aquí el enlace del comentario
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-horizontal ion-margin-bottom form-w tc3">
        <ion-col size="2">
          <img src="assets/icon/c-window.png" alt="avatar" class="nav-icon">
        </ion-col>
        <ion-col size="10">
          <ion-input type="url" class="fz12" formControlName="url">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="gradient-1 button-2 tc1" (click)="onSubmit()">
        <ion-col size="4">
          <img src="assets/icon/w-sending.png" alt="w-sending" class="ion-float-right nav-icon">
        </ion-col>
        <ion-col size="8" class="ion-text-left ion-margin-left ff1 fz16 mt5">
          ENVIAR
        </ion-col>
      </ion-row>

    </form>

  </ion-grid>

</ion-content>