<ion-content fullscreen class="bg-1">

  <ion-grid class="pb80 mt50">

    <ion-row>
      <div class="manual-avatar" *ngFor="let publication of publicationList; let i=index" (click)="showModal(i)">
        <img src="../../../assets/imgs/samples/{{publication.picture}}" alt="{{publication.name}}"
          class="manual-avatar-img">
        <div class="manual-video">
          <img src="../../../assets/icon/videos.png" alt="video" class="video-icon">
        </div>
      </div>
    </ion-row>

  </ion-grid>

</ion-content>

<div class="pb100 bg-dark-2 br-c1 br-v-25 modal slideUp" *ngIf="modalDiv">

  <ion-row>

    <ion-col size="6" class="ion-text-right ion-margin-top ff1 fz18 tc1">
      <img src="../../../assets/imgs/samples/{{modalPicture}}" alt="{{modalPicture}}">
    </ion-col>

    <ion-col size="6" class="ion-text-right ion-margin-top ff1 fz18 tc1">

      <ion-row>
        <ion-col size="12" class="ion-text-center ff1 fz18 tc1">
          {{modalName}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-float-right ion-text-center ion-padding-vertical gradient-1 br15"
          (click)="closeModal()">
          <span class="ion-padding ff2 fz16 tc1">Reproducir</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center ff1 fz14 tc1">
          + {{modalQuantity}} Me gusta
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center ff2 fz11 tc1">
          Tiempo mínimo de reproducción 20 segundos
        </ion-col>
      </ion-row>


    </ion-col>

  </ion-row>

</div>