
  *:focus { outline: none; }

  .gradient-1{
    background: linear-gradient(to right, rgba(255,6,110,1), rgba(252,151,18,1));
  }

  .gradient-2{
    background: linear-gradient(to right, rgba(173,57,104,1), rgba(211,150,85,1));
  }

  .avatar{
    width: 106px;
    height: 106px;
    margin-left: calc((100% - 112px)/2);
    border: 6px solid #ffffff;
    border-radius: 50px 50px 50px 50px;
  }

  .avatar-2{
    width: 90px;
    height: 90px;
    margin-left: calc((100% - 98px)/2);
    border: 4px solid #ffffff;
    border-radius: 50px 50px 50px 50px;
  }

  .avatar-3{
    width: 80px;
    height: 80px;
    margin-left: calc((100% - 88px)/2);
    border-radius: 50px 50px 50px 50px;
  }

  .home-avatar{
    width: 154px;
    height: 154px;
    margin-left: calc((100% - 170px)/2);
    margin-bottom: -90px;
    border: 8px solid #ffffff;
    border-radius: 99px 99px 99px 99px;
  }

  .iman-2{
    width: 250px;
    height: 250px;
    margin-left: calc((100% - 250px)/2);
    border-radius: 99px 99px 99px 99px;
  }

  .home-icons{
    width: 74px;
    height: 74px;
    margin-left: calc((100% - 74px)/2);
  }

  .tc1{
    color: #ffffff;
  }

  .tc2{
    color: #000000;
  }

  .tc3{
    color: #9B9B9B;
  }

  .tc4{
    color: #f05a29;
  }

  .tc5{
    color: #f7c266;
  }

  .tc6{
    color: #ab111d;
  }

  .border-c1{
    border-color: #d5a762 !important;
  }

  .ff1{
    font-family: GothamBoldRegular;
  }

  .ff2{
    font-family: GothamLightRegular;
  }

  .ff3{
    font-family: Geometos;
  }

  .fwl{
    font-weight: light;
  }

  .fwr{
    font-weight: regular;
  }

  .fz9{
    font-size: 9px;
  }

  .fz11{
    font-size: 11px;
  }

  .fz12{
    font-size: 12px;
  }

  .fz15{
    font-size: 15px;
  }

  .fz16{
    font-size: 16px;
  }

  .fz17{
    font-size: 17px;
  }

  .fz18{
    font-size: 18px;
  }

  .fz24{
    font-size: 24px;
  }

  .fz28{
    font-size: 28px;
  }
  
  .fz35{
    font-size: 28px;
  }

  .form-b{
    --background: transparent;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
  }

  .form-w{
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
  }

  .nav-icon{
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 4px;
  }

  .nav-icon-footer{
    width: 35px;
    height: 35px;
    padding: 4px;
    margin: 4px;
  }

  .bar-background{
    background-color: #ffffff;
    border-radius: 3px 3px 3px 3px;
    padding: 0px;
  }

  .bg-1{
    --background: url("../assets/imgs/bg-01.png") no-repeat center center / cover;
  }

  .bg-3{
    --background: url("../assets/imgs/bg-03.png") no-repeat center center / cover;
  }

  .bg-4{
    --background: rgba(0,0,0,1);
  }

  .bg-black{
    background-color: #000000;
  }

  .bg-dark-2{
    background-color: rgb(35, 33, 35);
  }

  .bg-blue1{
    background-color: #4463fc;
  }

  .bg-blue2{
    background-color: #42dcfe;
  }

  .bg-green1{
    background-color: #44aa8b;
  }

  .bg-yellow{
    background-color: #ffb741;
  }

  .bg-red1{
    background-color: #fe4344;
  }

  .bg-video-1{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .br-c1{
    border: 1px solid #f05a29;
  }

  .br15{
    border-radius: 15px 15px 15px 15px;
  }

  .br-v-15{
    border-radius: 15px 15px 0px 0px;
  }

  .br-h-25{
    border-radius: 0px 0px 25px 25px;
  }

  .br-v-25{
    border-radius: 25px 25px 0px 0px;
  }
  
  .border-modal{
    border: 3px solid #f05a29;
  }

  .border-yellow{
    border: 1px solid #ffb741;
  }

  .mesage-border{
    border: 1px solid #ffffff;
    border-radius: 25px 25px 25px 25px;
  }

  .home-border{
    border: 1px solid #ffffff;
    border-radius: 12px 12px 12px 12px;
  }

  .home-separator{
    border-bottom: 1px solid #ffffff;
  }

  .top-bg01{
    background-image: url("../assets/imgs/top-bg01.svg");
    background-repeat: no-repeat;
    background-size: contain;
    overflow-y: scroll;
  }

  .button-1{
    width: 280px;
    height: 50px;
    margin-left: calc((100% - 290px) / 2);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 15px 15px;
    font-family: GothamBoldRegular;
    font-size: 14px;
  }

  .button-2{
    width: calc(100% - 40px);
    height: 50px;
    margin-left: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px 15px 15px 15px;
    font-family: GothamBoldRegular;
    font-size: 14px;
  }

  .button-3{
    width: 300px;
    height: 20px;
    margin-left: 20px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: GothamBoldRegular;
    font-size: 12px;
  }

  .button-4{
    height: 60px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 5px 5px;
  }

  .clock-icon{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -28px;
    margin-right: -28px;
  }

  .modal{
    position: absolute;
    bottom: 0;
    width: calc(100% - 4px);
    margin-left: 2px;
  }

  .process-icon{
    width: 50px;
    height: 40px;
    padding: 4px;
    margin: 4px;
    margin-left: calc((100% - 50px) / 2);
  }


  .separator-01{
    height: 1px;
  }

  .manual-avatar{
    width: calc((100% - 8px) / 2);
    margin: 2px;
    float: left;
  }

  .manual-video{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    margin-top: calc(-100% - 4px);
    background:  rgba(35,33,35,.8);
  }

  .video-icon{
    width: 60px;
    height: 60px;
    margin-left: calc( (100% - 60px) / 2);
    margin-top: calc( (100% - 60px) / 2);
  }

  .manual-avatar-img{
    width: 100%;
  }

  .manual-avatar-p{
    width: 100%;
    padding: 4px;
    margin-top: -30px;
    float: left;
    position: relative;
    background:  rgba(35,33,35,.5);
  }

  .mt5{
    margin-top: 5px;
  }

  .mt12{
    margin-top: 12px;
  }

  .mt20{
    margin-top: 20px;
  }

  .mb50{
    margin-bottom: 50px;
  }

  .mt50{
    margin-top: 50px;
  }

  .mt80{
    margin-top: 80px;
  }

  .pt40{
    padding-top: 40px;
  }

  .pt50{
    padding-top: 50px;
  }

  .pt60{
    padding-top: 60px;
  }

  .pt80{
    padding-top: 80px;
  }

  .pb50{
    padding-bottom: 150px;
  }

  .pb50{
    padding-bottom: 50px;
  }

  .pb80{
    padding-bottom: 80px;
  }

  .pb100{
    padding-bottom: 100px;
  }

  .pv20{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .w120{
    width: 120px;
  }
