// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/* Set the font family of the entire app */
@font-face {
  font-family: 'Geometos';
  font-style: normal;
  font-weight: 400;
  src : url('../assets/fonts/Geometos.ttf');
}
@font-face {
  font-family: 'GothamBoldRegular';
  font-style: normal;
  font-weight: 400;
  src : url('../assets/fonts/Gotham Bold Regular.ttf');
}
@font-face {
  font-family: 'GothamLightRegular';
  font-style: normal;
  font-weight: 400;
  src : url('../assets/fonts/Gotham Light Regular.otf');
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** personalized **/

  /** button1 **/
  --ion-color-button1: #42dcfe;
  --ion-color-button1-rgb: 66, 220, 254;
  --ion-color-button1-contrast: #ffffff;
  --ion-color-button1-contrast-rgb: 255, 255, 255;
  --ion-color-button1-shade: #42dcfe;
  --ion-color-button1-tint: #42dcfe;

  .button1{
    --ion-color-base: var(--ion-color-button1);
    --ion-color-base-rgb: var(--ion-color-button1);
    --ion-color-contrast: var(--ion-color-button1-contrast);
    --ion-color-contrast-rgb: var(--ion-color-button1-contrast-rgb);
    --ion-color-shade: var(--ion-color-button1-shade);
    --ion-color-tint: var(--ion-color-button1-tint);
  }

  /** button2 **/
  --ion-color-button2: #ffb741;
  --ion-color-button2-rgb: 255, 183, 65;
  --ion-color-button2-contrast: #000000;
  --ion-color-button2-contrast-rgb: 0, 0, 0;
  --ion-color-button2-shade: #ffb741;
  --ion-color-button2-tint: #ffb741;

  .button2{
    --ion-color-base: var(--ion-color-button2);
    --ion-color-base-rgb: var(--ion-color-button2);
    --ion-color-contrast: var(--ion-color-button2-contrast);
    --ion-color-contrast-rgb: var(--ion-color-button2-contrast-rgb);
    --ion-color-shade: var(--ion-color-button2-shade);
    --ion-color-tint: var(--ion-color-button2-tint);
  }

  /** button3 **/
  --ion-color-button3: #000000;
  --ion-color-button3-rgb: 0, 0, 0;
  --ion-color-button3-contrast: #ffffff;
  --ion-color-button3-contrast-rgb: 255, 255, 255;
  --ion-color-button3-shade: #000000;
  --ion-color-button3-tint: #000000;

  .button3{
    --ion-color-base: var(--ion-color-button3);
    --ion-color-base-rgb: var(--ion-color-button3);
    --ion-color-contrast: var(--ion-color-button3-contrast);
    --ion-color-contrast-rgb: var(--ion-color-button3-contrast-rgb);
    --ion-color-shade: var(--ion-color-button3-shade);
    --ion-color-tint: var(--ion-color-button3-tint);
  }

  /** button4 **/
  --ion-color-button4: #43aa8c;
  --ion-color-button4-rgb: 67, 170, 140;
  --ion-color-button4-contrast: #ffffff;
  --ion-color-button4-contrast-rgb: 255, 255, 255;
  --ion-color-button4-shade: #43aa8c;
  --ion-color-button4-tint: #43aa8c;

  .button4{
    --ion-color-base: var(--ion-color-button4);
    --ion-color-base-rgb: var(--ion-color-button4);
    --ion-color-contrast: var(--ion-color-button4-contrast);
    --ion-color-contrast-rgb: var(--ion-color-button4-contrast-rgb);
    --ion-color-shade: var(--ion-color-button4-shade);
    --ion-color-tint: var(--ion-color-button4-tint);
  }

  /** button5 **/
  --ion-color-button5: #4463fc;
  --ion-color-button5-rgb: 68, 99, 252;
  --ion-color-button5-contrast: #ffffff;
  --ion-color-button5-contrast-rgb: 255, 255, 255;
  --ion-color-button5-shade: #4463fc;
  --ion-color-button5-tint: #4463fc;

  .button5{
    --ion-color-base: var(--ion-color-button5);
    --ion-color-base-rgb: var(--ion-color-button5);
    --ion-color-contrast: var(--ion-color-button5-contrast);
    --ion-color-contrast-rgb: var(--ion-color-button5-contrast-rgb);
    --ion-color-shade: var(--ion-color-button5-shade);
    --ion-color-tint: var(--ion-color-button5-tint);
  }



}
