<ion-content fullscreen class="bg-1">

  <ion-grid class="pb80 mt50">

    <ion-row>
      <div class="manual-avatar" *ngFor="let publication of publicationList; let i=index" (click)="showModal(i)">
        <img src="../../../assets/imgs/samples/{{publication.picture}}" alt="{{publication.name}}"
          class="manual-avatar-img">
        <span class="manual-avatar-p tc1">{{publication.userName}}</span>
      </div>
    </ion-row>

  </ion-grid>

</ion-content>

<div class="pb100 bg-dark-2 br-c1 br-v-25 modal slideUp" *ngIf="modalDiv">

  <ion-row class="ion-margin-vertical">
    <!-- <ion-col size="4">
        <img src="../../../assets/imgs/samples/{{modalPicture}}" alt="{{modalPicture}}" class="avatar-3 border-modal">
      </ion-col> -->
    <ion-col size="12" class="ion-text-center ff1 fz24 tc1 mt20">
      {{modalName}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="11"
      class="ion-float-right ion-text-center ion-padding-vertical ion-margin-horizontal gradient-1 br15"
      (click)="closeModal()">
      <span class="ion-padding ff2 fz16 tc1">Dar like</span>
    </ion-col>
    <ion-col size="11" class="ion-text-right ion-margin-horizontal ion-margin-top ff1 fz14 tc1">
      + {{modalQuantity}} Me gusta
    </ion-col>
  </ion-row>

</div>