<ion-app>

  <app-header *ngIf="showHeader"></app-header>

  <ion-menu side="start" menuId="first" contentId="content1" *ngIf="showHeader">

    <ion-content class="bg-1">

      <ion-grid>

        <ion-row class="ion-margin-top">
          <ion-col size="2">
            <img src="assets/icon/manual-mode.png" alt="manual-mode" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Cambiar de Cuenta
          </ion-col>
        </ion-row>
        <hr class="separator-01 gradient-1">

        <ion-row class="ion-margin-top" [routerLink]="['/shop/shop']" routerLinkActive="active"
                                                                      (click)="closeMenu()">
          <ion-col size="2">
            <img src="assets/icon/buy-packages.png" alt="buy-packages" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Tienda
          </ion-col>
        </ion-row>
        <ion-row [routerLink]="['/magnetism/transfer_magnetism']" routerLinkActive="active"
                                                                  (click)="closeMenu()">
          <ion-col size="2">
            <img src="assets/icon/transfer-magnetism.png" alt="magnetism" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Transferir Magnetismo
          </ion-col>
        </ion-row>
        <ion-row (click)="closeMenu()">
          <ion-col size="2">
            <img src="assets/icon/fags.png" alt="fags" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Fags
          </ion-col>
        </ion-row>
        <ion-row (click)="closeMenu()">
          <ion-col size="2">
            <img src="assets/icon/config.png" alt="config" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Ajustes
          </ion-col>
        </ion-row>
        <ion-row (click)="closeMenu()">
          <ion-col size="2">
            <img src="assets/icon/exit.png" alt="exit" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Salir
          </ion-col>
        </ion-row>

        <button type="submit" class="ion-margin-top bg-yellow button-2 tc2"
                              [routerLink]="['/magnetism/become_premium']" routerLinkActive="active"
                              (click)="closeMenu()">
          HAZTE PREMIUM
        </button>

        <button type="submit" class="ion-margin-top gradient-1 button-2 tc1"
                              [routerLink]="['/magnetism/magnetism']" routerLinkActive="active"
                              (click)="closeMenu()">
          NIVEL DE ENERGÍA MAGNÉTICA
        </button>

        <button type="submit" class="ion-margin-top bg-black button-2 tc1" (click)="closeMenu()">
          ACTIVA MODO INVISIBLE
        </button>

        <hr class="ion-margin-top separator-01 gradient-1">
        
        <ion-row (click)="closeMenu()">
          <ion-col size="2">
            <img src="assets/icon/contacts.png" alt="contacts" class="nav-icon">
          </ion-col>
          <ion-col size="10" class="ff2 fwr fz17 tc1 mt12">
            Contacto
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content1" main></ion-router-outlet>

  <app-footer *ngIf="showFooter"></app-footer>

</ion-app>