<ion-content class="bg-4" *ngIf="showVideo">
  <video class="bg-video-1" #loginAnimation autoplay="autoplay" poster="../../../assets/imgs/splash-screen.jpg">
    <source src="../../../assets/videos/splash-screen.mp4" type="video/mp4">
  </video>
</ion-content>

<ion-content class="bg-1" *ngIf="!showVideo">

  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <img src="assets/imgs/logo-01.png" alt="logo" class="logo slideDown">
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="12" class="ion-margin-vertical">
        <p class="ion-text-center ff1 fwr fz24 tc1">Accede con tu cuenta de instagram</p>
      </ion-col>

      <ion-col size="12">
        <button class="ion-margin-top gradient-1 button-1 tc1" (click)="goToStart()">
          ACCEDER
        </button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>