<ion-content fullscreen class="bg-4">

  <ion-grid class="pt80 pb50">

    <div class="ion-margin home-border mt50">

      <ion-row class="ion-padding-vertical">

        <ion-col size="12" class="ion-text-center">
          <span class="ff1 fwl fz14 tc1">Selecciona la categoría de paquetes que necesitas</span>
        </ion-col>

        <ion-col size="3" (click)="likeIconToggle()">
          <ion-row>
            <ion-col size="12" class="ion-text-center mt5">
              <img src="../../../assets/icon/{{likeIcon}}" alt="likes" class="nav-icon-footer">
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <span class="ff2 fwl fz12 tc1">Likes</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3" (click)="followersIconToggle()">
          <ion-row>
            <ion-col size="12" class="ion-text-center mt5">
              <img src="../../../assets/icon/{{followersIcon}}" alt="likes" class="nav-icon-footer">
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <span class="ff2 fwl fz12 tc1">Seguidores</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3" (click)="commentsIconToggle()">
          <ion-row>
            <ion-col size="12" class="ion-text-center mt5">
              <img src="../../../assets/icon/{{commentsIcon}}" alt="likes" class="nav-icon-footer">
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <span class="ff2 fwl fz12 tc1">Comentarios</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3" (click)="videosIconToggle()">
          <ion-row>
            <ion-col size="12" class="ion-text-center mt5">
              <img src="../../../assets/icon/{{videosIcon}}" alt="likes" class="nav-icon-footer">
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <span class="ff2 fwl fz12 tc1">Videos</span>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

    </div>

    <ion-row *ngIf="likesDiv">

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">50</ion-col>
          <ion-col size="4">
            <img src="assets/icon/w-like.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">LIKES</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">2.99 €</ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">100</ion-col>
          <ion-col size="4">
            <img src="assets/icon/w-like.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">LIKES</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">3.99 €</ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="followersDiv">

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">50</ion-col>
          <ion-col size="4">
            <img src="assets/icon/manual-mode.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">SEGUIDORES</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">2.99 €</ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">100</ion-col>
          <ion-col size="4">
            <img src="assets/icon/manual-mode.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">SEGUIDORES</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">3.99 €</ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="commentsDiv">

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">50</ion-col>
          <ion-col size="4">
            <img src="assets/icon/w-followers.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">COMENTARIOS</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">2.99 €</ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">100</ion-col>
          <ion-col size="4">
            <img src="assets/icon/w-followers.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">COMENTARIOS</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">3.99 €</ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="videosDiv">

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">50</ion-col>
          <ion-col size="4">
            <img src="assets/icon/w-videos.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">VIDEOS</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">2.99 €</ion-col>
        </ion-row>
      </ion-col>

      <ion-col class="ion-padding ion-margin home-border border-c1 bg-dark-2">
        <ion-row>
          <ion-col size="8" class="ion-text-center ff1 fwr fz28 tc5 mt5">100</ion-col>
          <ion-col size="4">
            <img src="assets/icon/w-videos.png" alt="contacts" class="nav-icon">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz12 tc1">VIDEOS</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="ion-text-center ff1 fwr fz24 tc1">3.99 €</ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <button type="submit" class="ion-margin-top gradient-1 button-2 tc1" *ngIf="showButton">
      ENVIAR
    </button>

  </ion-grid>

</ion-content>