
<ion-content class="bg-1">

    <ion-grid class="top-bg01 pb50">

        <ion-row>
          <ion-col size="12">
            <img src="{{avatar}}" alt="avatar" class="ion-margin-top avatar slideDown">
            <p class="ion-text-center ff1 fwr fz24 tc1 fadeIn">{{name}}</p>
            <p class="ion-text-center ff2 fwl fz17 tc1">{{text1}}</p>
            <hr class="ion-margin-horizontal separator-01 gradient-1">
          </ion-col>
        </ion-row>

        <form [formGroup]="form01" (ngSubmit)="onSubmit()">

          <ion-row class="ion-margin">
            <ion-col size="4" class="mt5">
              <ion-label class="ff1 fwr fz16 tc1">EDAD</ion-label>
            </ion-col>
            <ion-col size="8" class="form-w tc3">
              <ion-select placeholder="Selecciona" formControlName="age">
                <ion-select-option *ngFor="let age of ageList" value="{{age.value}}">
                  {{age.value}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col size="4" class="mt5">
              <ion-label class="ff1 fwr fz16 tc1">GÉNERO</ion-label>
            </ion-col>
            <ion-col size="8" class="form-w tc3">
              <ion-select placeholder="Selecciona" formControlName="gender">
                <ion-select-option *ngFor="let gender of genderList" value="{{gender.value}}">
                  {{gender.name}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col size="4" class="mt5">
              <ion-label class="ff1 fwr fz16 tc1">PROVINCIA</ion-label>
            </ion-col>
            <ion-col size="8" class="form-w tc3">
              <ion-select placeholder="Selecciona" formControlName="province">
                <ion-select-option *ngFor="let province of provincesList" value="{{province.id}}">
                  {{province.provincia}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col size="4" class="mt5">
              <ion-label class="ff1 fwr fz16 tc1">TEMÁTICA</ion-label>
            </ion-col>
            <ion-col size="8" class="form-w tc3">
              <ion-select placeholder="Selecciona" formControlName="thematic">
                <ion-select-option *ngFor="let thematic of thematicsList" value="{{thematic.value}}">
                  {{thematic.name}}
                </ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col size="10" class="ff3 fwr fz11 tc1 mt5 ion-text-left"
                                                   (click)="promotionsToggle()">
              QUIERO RECIBIR PROMOCIONES PARA CONSEGUIR SEGUIDORES ESPAÑOLES GRÁTIS
            </ion-col>
            <ion-col size="2">
              <ion-checkbox color="dark" formControlName="promotions" class="mt5">
              </ion-checkbox>
            </ion-col>
          </ion-row>

          <ion-row class="ion-margin">
            <ion-col size="12" class="form-w tc3">
              <ion-input type="email" placeholder="Escribe tu correo electrónico" formControlName="email"></ion-input>
            </ion-col>
          </ion-row>

          <button type="submit" class="ion-margin-top gradient-1 button-2 tc1" (click)="onSubmit()">
            COMPLETAR REGISTRO
          </button>

        </form>
                
      </ion-grid>
    
</ion-content>
