<ion-content fullscreen class="bg-1">

  <ion-grid class="mt80 pb50">

    <ion-row>
      <ion-col size="12" class="ion-margin-left ion-margin-bottom ion-text-center mt12 ff2 fwr fz12 tc3">
        Ser premium tiene muchas ventajas
      </ion-col>
    </ion-row>

    <hr class="separator-01 gradient-2">

    <ion-row class=" ion-margin-bottom">
      <ion-col size="12" class="ion-margin-center ion-text-center mt12 ff1 fwr fz15 tc1">
        TE REGALAMOS 7 DÍAS DE PRUEBA
      </ion-col>
    </ion-row>

    <ion-row class="ion-matgin-vertical">
      <ion-col size="12" class="ion-margin-left ion-text-center mt12 ff2 fwr fz12 tc3">
        Aquí va el resumen de las ventajas
      </ion-col>
    </ion-row>

    <button type="submit" class="ion-margin-top bg-yellow button-2 tc2">
      HAZTE PREMIUM
    </button>

  </ion-grid>

</ion-content>