<ion-content fullscreen class="bg-1">

  <ion-grid class="mt50 pb50">

    <ion-row>
        <ion-col size="12">
            <p class="ion-text-center ff1 fwr fz24 tc1">ID Usuario: {{userId}}</p>
          </ion-col>
      </ion-row>

    <ion-row>
      <ion-col size="3" class="ion-text-center ff1 fwr fz16 tc3">55</ion-col>
      <ion-col size="3" class="ion-text-center ff1 fwr fz16 tc3">55</ion-col>
      <ion-col size="3" class="ion-text-center ff1 fwr fz16 tc3">55</ion-col>
      <ion-col size="3" class="ion-text-center ff1 fwr fz16 tc3">55</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3" class="ion-text-center ff1 fwr fz11 tc3">Likes</ion-col>
      <ion-col size="3" class="ion-text-center ff1 fwr fz11 tc3">Seguidores</ion-col>
      <ion-col size="3" class="ion-text-center ff1 fwr fz11 tc3">Comentarios</ion-col>
      <ion-col size="3" class="ion-text-center ff1 fwr fz11 tc3">Videos</ion-col>
    </ion-row>

    <hr class="separator-01 gradient-2">

    <ion-row>
      <ion-col size="12" class="ion-text-center ff2 fwr fz12 tc3">
        <span>Comisión </span>
        <span class="tc6">{{percentage}}%</span>
      </ion-col>
    </ion-row>

    <form [formGroup]="form01" class="ion-margin-top" (ngSubmit)="onSubmit()">

      <ion-row class="ion-margin-horizontal ion-margin-bottom form-w tc3">
        <ion-col size="2">
          <img src="assets/icon/c-window.png" alt="avatar" class="nav-icon">
        </ion-col>
        <ion-col size="10">
          <ion-input type="url" placeholder="Pega aquí el Id de usuario" class="fz12" formControlName="url">
          </ion-input>
        </ion-col>
      </ion-row>

      <button type="submit" class="ion-margin-top gradient-1 button-2 tc1">
        ENVIAR
      </button>

    </form>

    <hr class="ion-margin-vertical mt20 separator-01 bg-yellow">

    <ion-row>
      <ion-col size="12" class="ion-text-center ff1 fwr fz15 tc1">Últimos usuarios</ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img src="../../../assets/imgs/samples/avatar-sample1.jpg" alt="avatar" class="ion-margin-top avatar-2">
          </ion-col>
          <ion-col size="12" class="ion-text-center ff2 fwr fz12 tc1">Usuario Ejemplo</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img src="../../../assets/imgs/samples/avatar-sample1.jpg" alt="avatar" class="ion-margin-top avatar-2">
          </ion-col>
          <ion-col size="12" class="ion-text-center ff2 fwr fz12 tc1">Usuario Ejemplo</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img src="../../../assets/imgs/samples/avatar-sample1.jpg" alt="avatar" class="ion-margin-top avatar-2">
          </ion-col>
          <ion-col size="12" class="ion-text-center ff2 fwr fz12 tc1">Usuario Ejemplo</ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>